body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  height: 100vh;
}

h1,
h2,
article {
  padding: 15px;
}

header {
  background-color: lightskyblue;
  grid-area: header;
}

main {
  background-color: lightcyan;
  grid-area: main;
}

nav,
aside {
  background: lightpink;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

footer {
  background-color: lightblue;
  grid-area: footer;
}
@media only screen and (min-width: 1024px) {
  body {
    grid-template-areas:
      "header header header"
      "nav main aside"
      "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
  }
  aside,
  nav {
    max-width: 200px;
  }
}
